:root {
	line-height: 1.5;
	font-weight: 400;
  
	color-scheme: light dark;
	color: $white;
	background-color: $mineshaft;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  }
  
  body {
	padding: 0;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 840px;
	min-height: 100vh;
  }
  