// General colours
$white: #fff;
$mineshaft: #313132;
$scorpiongrey: #585858;
$dovegrey: #70777c;
$dustygrey: #9a9a9a;
$porcelain: #f3f4f5;
$crimsonred: #d71d24; // was: #e01f26

// Government web colours
$midnightblue: #003366;
$menuBlue: #1c2d64;
$generallink: #1a5a96;
$sanmarinoblue: #496ea7;
$headeryellow: #f4bb2d;
$curiousblue: #1e9dd3;